<!DOCTYPE html>
<html lang="ko">

<head>
  <title>갤러리</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  <script src="https://kit.fontawesome.com/1875960f1f.js" crossorigin="anonymous"></script>
  <link href="../gallery.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
  <!-- Top Background Image Wrapper -->
  <div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/home.png');">
    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
          <div class="logo">
            <h1><img src="../images/demo/logo.svg" style="margin-right: 6px; width:30px; height:30px;">
              <a href="/">그리다</a>
            </h1>
          </div>
        </div>
        <nav id="mainav" class="fl_right">
          <ul class="clear">
            <li><a href="/login">나의 추모공간 만들기</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div id="breadcrumb" class="hoc clear">
    </div>
    <!-- End Top Background Image Wrapper -->
    <div class="wrapper row3">
      <main class="hoc container clear">
        <!-- main body -->
        <div class="sidebar one_quarter first">
          <div class="sdb_holder">
            <img class="img" src="../images/backup/<%= profile[0].f_image %>" style="width:164px; height:164px;">
            
              <p><br>
              <img class="img" src="../images/demo/id.png" style="width:20px; height:20px;">
              <%= profile[0].f_name %><br>
              <img class="img" src="../images/demo/breed.png" style="width:20px; height:20px; "> <%= profile[0].f_tribe %> (<%= profile[0].f_gender %>)<br>
              <img class="img" src="../images/demo/anniversary.png" style="width:20x; height:20px;"> <%= profile[0].f_birthday %>
            </p>


          </div>
          <nav class="sdb_holder">
            <ul>
              <li><a href="/guest/myhome?id=<%=login.id%>">홈</a></li>
              <li><a href="/guest/timeline?id=<%=login.id%>">타임라인</a></li>
              <li><a href="/guest/gallery?id=<%=login.id%>">갤러리</a>

          </nav>
        </div>
        <div class="content three_quarter">


          <div id="gallery">
            <figure>
              <header class="heading">추억이 담긴 기억들을 담아보세요</header>
                <!--갤러리-->
              </div class="wraaper">
              <ul class="nospace group ref-img wrapper_gallery"><br>
                <% for (var i=0; i < posts.length; i++){ %>
                  <% if(i % 4 == 0) { %>
                    <li class="one_quarter first image">
                      <img src="../images/backup/<%= posts[i].name %>" alt="" class="image"></li>    
                    <% } %>
                    <% if(i % 4 == 1) { %>
                      <li class="one_quarter image">
                  <img src="../images/backup/<%= posts[i].name %>" alt=""></li>
                    <% } %>
                    <% if(i % 4 == 2) { %>
                      <li class="one_quarter image">
                  <img src="../images/backup/<%= posts[i].name %>" alt=""></li>
                    <% } %>
                    <% if(i % 4 == 3) { %>
                      <li class="one_quarter image">
                  <img src="../images/backup/<%= posts[i].name %>" alt=""></li>
                    <% } %>
                  <% } %>
              </ul>
            </figure>
            <!--갤러리 확대 및 이동-->
            <div class="preview_box">
              <i class="fa-solid fa-xmark" id="icon"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              </i>

                <div class="img_box">
                    <div class="slide prev">
                        <i class="fa-solid fa-angle-left"></i>
                    </div>
                    <div class="slide next">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <img src="" alt="">
                </div>
            </div>
          </div>
          <!-- ################################################################################################ -->
          <!-- ################################################################################################ -->
          <!-- ################################################################################################ -->
          <!-- / main body -->
          <div class="clear"></div>
      </main>
    </div>
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2022 - All Rights Reserved - <a href="#">그리다</a></p>
        <p class="fl_right">당신의 삶을 <a target="_blank" href="https://www.os-templates.com/"
            title="Free Website Templates">그리다</a></p>
        <!-- ################################################################################################ -->
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="../gallery.js"></script>
    <script src="../layout/scripts/jquery.min.js"></script>
    <script src="../layout/scripts/jquery.backtotop.js"></script>
    <script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>

</html>