<!DOCTYPE html>
<html lang="ko">
<head>
<title>정보공유</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../layout/styles/layout_information.css" rel="stylesheet" type="text/css" media="all">
<style>
  #timetable {
    font-size: 12px;
    margin-top: -0.5px;
  }

  .comment {
    font-size: 14px;
  }

  #comments address{
    font-size: 14px;
  }
 

</style>

</head>
<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/home.png');">
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
	<div class="logo">
        <h1><img src="../images/demo/logo.svg"
		style= "margin-right: 6px; width:30px; height:30px;">
	<a href="/home">그리다</a></h1></div>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><a href="/info">정보공유</a></li>
          <li><a href="/myhome:<%=login.id%>">나의 추모공간</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div id="breadcrumb" class="hoc clear"> 
  </div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
  <section class="notice">
    <div class="page-title">
          <div class="container">
              <h3>정보공유</h3>
          </div>
      </div>
  

     
    <!-- board list area -->
      <div id="board-list">
          <div class="container">
              <table class="board-table">
                  <thead>
                  <tr>
                      <th scope="col" class="th-title">제목</th>
                      <th scope="col" class="th-name">닉네임</th>
                      <th scope="col" class="th-date">등록일</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i < notice.length; i++){ %>
                  <tr>
                      <th>
                        <a href="/info/read?value=<%=notice[i].loginid%>"><%= notice[i].title %></a>
                      </th>
                      <td><%= notice[i].loginid %></td>
                      <td><%= notice[i].time %></td>
                  </tr>
  
                  <% } %>
                  </tbody>
              </table>
              <a href="/info/write" class="btn btn-dark" style="float: right; padding: 6px 26px;">글쓰기</a>
          </div>
      </div>
  </section>
    
    <!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2022 - All Rights Reserved - <a href="#">그리다</a></p>
    <p class="fl_right">당신의 삶을 <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">그리다</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../public/layout/scripts/jquery.min.js"></script>
<script src="../public/layout/scripts/jquery.backtotop.js"></script>
<script src="../public/layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>